* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header .logo {
  width: 60px;
}
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit {
  font-size: 26px;
}
.lest ul {
  background-color: #e8e8e8;
  list-style: none;
  right: 0;
  min-width: 200px;
  position: absolute;
  display: none;
  z-index: 2;
}
.header .lest ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  position: absolute;
  right: 5px;
  top: -20px;
  border-color: transparent transparent #e8e8e8 transparent;
}
.header .lest {
  position: relative;
}
.header .lest:hover ul {
  display: block;
}
.header .lest ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}
.header .lest ul li a:hover {
  padding-left: 25px;
}
.landing {
  background-image: url(../imgs/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .text-img {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 100%;
  position: absolute;
  text-align: center;
}
.landing .text-img h1 {
  color: rgb(0, 182, 179);
  margin: 0;
  font-weight: bold;
  font-size: 50px;
}
.landing .text-img p {
  font-size: 20px;
  line-height: 1.8;
}
.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e8e8e8;
}
.grid .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.features .cards {
  padding: 20px;
  text-align: center;
}
.features .cards i {
  color: rgb(0, 182, 179);
}
.features .cards h3 {
  font-weight: 800px;
  margin: 30px 0;
}
.features .cards p {
  line-height: 1.8;
  color: rgb(70, 70, 70);
  font-size: 15px;
}

.special-heading {
  color: #949494;
  margin: 0;
  text-align: center;
  font-weight: 800;
  font-size: 100px;
  letter-spacing: -1px;
}
.special-heading + p {
  color: #555555;
  margin: -40px 0 0;
  font-size: 20px;
  text-align: center;
}
.services {
  padding-top: 30px;
  padding-bottom: 30px;
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv i {
  color: rgb(0, 182, 179);
  flex-basis: 60px;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: #e8e8e8;
  width: 100px;
  z-index: -2;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
}
.services .services-content .image img {
  width: 260px;
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e8e8e8;
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 80px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
  max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  color: rgb(114, 114, 114);
  line-height: 1.6;
  margin-bottom: 0;
}
.foter {
  padding-top: 60px;
  padding-bottom: calc(60px + 60px);
}
.foter .foter-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .foter .foter-content {
    flex-direction: column;
    text-align: center;
  }
}
.foter .foter-content .image {
  position: relative;
  width: 250px;
  height: 375px;
}
@media (max-width: 991px) {
  .foter .foter-content .image {
    margin: 0 auto 60px;
  }
}
.foter .foter-content .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
.foter .foter-content .image::after {
  content: "";
  top: -40px;
  width: 120px;
  height: 300px;
  border-left: 80px solid rgb(0, 182, 179);
  border-bottom: 80px solid rgb(0, 182, 179);
  right: -140px;
  position: absolute;
  z-index: -1;
}

.foter .foter-content .image img {
  max-width: 100%;
}
.foter .foter-content .text {
  flex-basis: calc(100% - 500px);
}
.foter .foter-content .text p:first-of-type {
  font-weight: bold;
  margin-bottom: 50px;
  line-height: 3;
}
.foter .foter-content .text hr {
  width: 50%;
  display: inline-block;
  border-color: rgb(0, 182, 179);
}
.foter .foter-content .text p:last-of-type {
  line-height: 3;
  color: #777;
}
.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ebeced;
}
.contact .info {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: #2c4755;
  margin-bottom: 15px;
  letter-spacing: -2px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: rgb(0, 182, 179);
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}
.contact .info .social i {
  margin-left: 10px;
  color: #2c4755;
}
.footer {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: rgb(0, 182, 179);
}
